@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom Styling */
footer {
    margin-top: auto; /* Push the footer to the bottom */
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Container for the products */
.products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Table Styles */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }

    .table th, .table td {
        padding: 8px;
    }
}


/* Pagination Styles */
/* Pagination Styles */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination-container button {
    padding: 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-container button:hover {
    background-color: #0056b3;
}

.pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
